.button {
    padding: 8px 16px;
    color: #000;
    background-color: #C5E075;
    font-size: 16px;
    border: 0px solid #000;
    border-radius: 4px;
    font-weight: 500;
    font-family: "DM Sans", sans-serif;
}

.button:hover {
    background-color: #323232;
    color: #fff;
}