* {
  box-sizing: border-box;
}

html {
  display: inline-block;
  clear: both;
  margin: 0;
  padding: 0;
}

body {
  display: inline-block;
  clear: both;
  margin: 0;
  padding: 0;
  background-color: #323232;
  font-family: "DM Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
