.input {
    height: 36px;
    width: 100%;
    background-color: #3F3F3F;
    color: #fff;
    border-radius: 8px;
    border: 0px solid #000000;
    font-size: 18px;
    font-family: "DM Sans", sans-serif;
    padding: 2px 36px 2px 12px;
    margin-right: -32px;
    transition: background-color 300ms ease-out;
}

.input:hover {
    background-color: #4B4B4B;
}

.input:focus {
    outline: 1px solid #B3C57D;
    background-color: #4B4B4B;
}

.container {
    display: flex;
    width: 100%;
}

.button {
    background-color: rgba(0, 0, 0, 0);
    border: 0px solid #000000;
    margin: 0;
    padding: 0;
}